.GLOBALS {
  // DEFAULT - DARK
  --color-text-primary: #fff;
  --color-text-dark: #000;
  --color-text-secondary: #777;

  &[data-wholeapptheme="light"] {
    --color-text-primary: #000;
    --color-text-dark: #fff;
    --color-text-secondary: #555;
  }

  --highlighted-color: rgba(0, 100, 255, 0.3);
}
